In [1]:
import pandas as pd
import numpy as np
from sklearn.feature_selection import SelectKBest
from sklearn.feature_selection import chi2

In [2]:
# read in file 
df = pd.read_csv('../csv_files/p4feature-selection.csv', index_col=0)
df.head()

,C1,C4,C6p,C7,C5p,T4p,T3p,T5p,S1p,S2p,S3p,C2,C3p,Industry_Bins,Y1,Y2
0,0.013297,0.671107,1.282356,-0.561408,0.054797,0.168664,0.174370,0.310576,-0.147291,0.165044,-0.128181,1.0,0,1,0,1
1,1.259277,-0.641901,-0.759933,-0.861441,2.432764,0.229323,0.099791,-0.016410,-1.241195,0.781034,-0.147795,0.0,1,1,1,0
2,-0.447500,0.412402,-0.759933,-1.331894,-0.232390,0.118072,0.177832,1.107408,2.766871,-0.974778,0.044531,1.0,1,1,1,0
3,0.888201,0.390990,-0.759933,-1.282655,-0.276002,-1.244015,0.233984,1.093939,2.091573,-0.603481,0.697712,1.0,1,1,1,1
4,-0.619728,-1.308620,1.027869,0.887747,-0.021399,-0.574359,0.023742,-0.357698,-0.365024,0.448793,-0.006539,1.0,0,3,0,1

In [3]:
#Converting the dataframe into the correct arrays to make filtering easier 
array = df.values
X = abs(array[:,:-2]) #features
Y1 = array[:,-2] #Target 1
Y2 = array[:,-1] #Target 2

In [5]:
# Feature selection for Target 1
test = SelectKBest(score_func=chi2, k=4)
fit = test.fit(X, Y1)
#Printing out the results
np.set_printoptions(precision=3)
print(fit.scores_)

[7.198e-01 1.065e+00 2.760e+01 7.433e+00 4.251e-01 1.449e-01 2.396e+00
 1.904e-02 3.008e-01 5.036e-02 6.121e-01 4.750e-01 4.831e+00 2.006e+00]

In [6]:
# Feature selection for Target 1
test = SelectKBest(score_func=chi2, k=4)
fit = test.fit(X, Y2)
#Printing out the results
np.set_printoptions(precision=3)
print(fit.scores_)

[ 0.066  0.131  3.963  0.343  2.621  0.51  10.524  5.504  1.076  0.919
  1.451  0.183  0.421  2.095]