In [24]:
#Importing the packages that we need 
import pandas as pd
import numpy as np

In [25]:
#Loading in the csv file
data = pd.read_csv('csv_files/no_outliers.csv', header=0)
data.head()

,Unnamed: 0,I1,I2,I3,pIPO,pH,pL,p1day,C1,C2,...,C6,C7,T1,T2,T3,T4,T5,S1,S2,S3
0,0,AATI,ADVANCED ANALOGIC TECHNOLOGIES INC,3674,10.0,9.5,8.5,11.870000,122.000,1.0,...,10600000.0,51.345,470.0,12719.0,11560.0,301.0,690.0,62.0,117.0,139.0
1,1,ABPI,ACCENTIA BIOPHARMACEUTICALS INC,2834,8.0,10.0,8.0,7.250000,254.375,0.0,...,2400000.0,25.936,791.0,21792.0,19585.0,510.0,1120.0,71.0,242.0,237.0
2,2,ACAD,ACADIA PHARMACEUTICALS INC,2834,7.0,14.0,12.0,6.700000,90.000,1.0,...,5000000.0,7.378,201.0,5262.0,4785.0,128.0,325.0,61.0,33.0,60.0
3,3,ACHN,ACHILLION PHARMACEUTICALS INC,2834,11.5,16.0,14.0,12.390000,209.000,1.0,...,4500000.0,8.526,328.0,8259.0,7574.0,177.0,509.0,80.0,59.0,110.0
4,4,ACLI,AMERICAN COMMERCIAL LINES INC.,4492,21.0,21.0,19.0,35.936252,80.000,1.0,...,8250000.0,632.298,572.0,14830.0,13176.0,336.0,720.0,67.0,149.0,167.0

In [26]:
#To fill the NaN values in 'I3' with 0
data['I3'].fillna(0, inplace=True)

In [34]:
#Filling in ID #s that had originally had multiple values 
##Found the correct ID #s on the internet
data.iloc[118, data.columns.get_loc('I3')] = 5261
data.iloc[174, data.columns.get_loc('I3')] = 7812
data.iloc[181, data.columns.get_loc('I3')] = 191
data.iloc[187, data.columns.get_loc('I3')] = 5731
data.iloc[221, data.columns.get_loc('I3')] = 7389
data.iloc[246, data.columns.get_loc('I3')] = 7372
data.iloc[499, data.columns.get_loc('I3')] = 3663
data.iloc[620, data.columns.get_loc('I3')] = 5065

In [35]:
#Going to bin column 'I3'. Based on the Major Industries and then all 'others'

def assign_industry_bins(I3):
    if int(I3) >= 2000 and int(I3) <= 3999:  #Returning '1' if is in Manufacturing industry
        return(1)
    if int(I3) >= 7000 and int(I3) <= 8999:  #Returing '2' if is in Services industy
        return(2)
    else:                          #Returning '3' for all industries other than
        return(3)                  ##Manufacturing and Services

#Creating a Industry Bins column in the DataFrame
data['Industry_Bins'] = data['I3'].apply(assign_industry_bins)

In [36]:
data.head()

,Unnamed: 0,I1,I2,I3,pIPO,pH,pL,p1day,C1,C2,...,C7,T1,T2,T3,T4,T5,S1,S2,S3,Industry_Bins
0,0,AATI,ADVANCED ANALOGIC TECHNOLOGIES INC,3674,10.0,9.5,8.5,11.870000,122.000,1.0,...,51.345,470.0,12719.0,11560.0,301.0,690.0,62.0,117.0,139.0,1
1,1,ABPI,ACCENTIA BIOPHARMACEUTICALS INC,2834,8.0,10.0,8.0,7.250000,254.375,0.0,...,25.936,791.0,21792.0,19585.0,510.0,1120.0,71.0,242.0,237.0,1
2,2,ACAD,ACADIA PHARMACEUTICALS INC,2834,7.0,14.0,12.0,6.700000,90.000,1.0,...,7.378,201.0,5262.0,4785.0,128.0,325.0,61.0,33.0,60.0,1
3,3,ACHN,ACHILLION PHARMACEUTICALS INC,2834,11.5,16.0,14.0,12.390000,209.000,1.0,...,8.526,328.0,8259.0,7574.0,177.0,509.0,80.0,59.0,110.0,1
4,4,ACLI,AMERICAN COMMERCIAL LINES INC.,4492,21.0,21.0,19.0,35.936252,80.000,1.0,...,632.298,572.0,14830.0,13176.0,336.0,720.0,67.0,149.0,167.0,3

In [37]:
data.to_csv('csv_files/Binning_I3.csv')