**Importing the Datafile**

In [1]:
# import appropriate packages
import numpy as np
import pandas as pd

In [2]:
# read the excel file
# had to install the xlrd package to read the file 
df = pd.read_csv("csv_files/no_outliers.csv", index_col=0)
df.head(10)

,I1,I2,I3,pIPO,pH,pL,p1day,C1,C2,C3,...,C6,C7,T1,T2,T3,T4,T5,S1,S2,S3
0,AATI,ADVANCED ANALOGIC TECHNOLOGIES INC,3674,10.0,9.5,8.5,11.870000,122.000,1.0,2.625,...,10600000.0,51.345000,470.0,12719.0,11560.0,301.0,690.0,62.0,117.0,139.0
1,ABPI,ACCENTIA BIOPHARMACEUTICALS INC,2834,8.0,10.0,8.0,7.250000,254.375,0.0,-1.620,...,2400000.0,25.936000,791.0,21792.0,19585.0,510.0,1120.0,71.0,242.0,237.0
2,ACAD,ACADIA PHARMACEUTICALS INC,2834,7.0,14.0,12.0,6.700000,90.000,1.0,-1.240,...,5000000.0,7.378000,201.0,5262.0,4785.0,128.0,325.0,61.0,33.0,60.0
3,ACHN,ACHILLION PHARMACEUTICALS INC,2834,11.5,16.0,14.0,12.390000,209.000,1.0,-0.910,...,4500000.0,8.526000,328.0,8259.0,7574.0,177.0,509.0,80.0,59.0,110.0
4,ACLI,AMERICAN COMMERCIAL LINES INC.,4492,21.0,21.0,19.0,35.936252,80.000,1.0,0.070,...,8250000.0,632.298000,572.0,14830.0,13176.0,336.0,720.0,67.0,149.0,167.0
5,ACOM,Ancestry.com Inc.,7379,13.5,14.5,12.5,14.200000,94.000,1.0,0.060,...,7407407.0,197.591000,510.0,17999.0,13934.0,328.0,815.0,62.0,96.0,181.0
6,ACOR,ACORDA THERAPEUTICS INC,2836,6.0,13.0,11.0,6.720000,128.000,1.0,-1.870,...,5500000.0,5.146000,495.0,15758.0,13953.0,379.0,698.0,82.0,106.0,135.0
7,ACRX,ACELRX PHARMACEUTICALS INC,2834,5.0,14.0,12.0,4.550000,91.000,0.0,-0.740,...,8000000.0,500.459962,334.0,11226.0,10056.0,276.0,-1.0,55.0,120.0,122.0
8,ACTV,ACTIVE NETWORK INC,7372,15.0,18.0,16.0,15.900000,100.000,1.0,-0.510,...,11000000.0,279.600000,620.0,14813.0,13463.0,335.0,917.0,58.0,124.0,234.0
9,ACW,ACCURIDE CORP,3714,9.0,19.0,17.0,0.000000,106.000,1.0,1.490,...,11000000.0,494.008000,385.0,9134.0,8107.0,198.0,459.0,81.0,90.0,147.0

In [3]:
df_ids = df.filter(items=['I1', 'I2', 'I3'])
df_ids.head()

     I1                                  I2    I3
0  AATI  ADVANCED ANALOGIC TECHNOLOGIES INC  3674
1  ABPI     ACCENTIA BIOPHARMACEUTICALS INC  2834
2  ACAD          ACADIA PHARMACEUTICALS INC  2834
3  ACHN       ACHILLION PHARMACEUTICALS INC  2834
4  ACLI     AMERICAN COMMERCIAL LINES INC.   4492

In [4]:
# replace '-' with NaN (smooth the data)
df.replace(to_replace='-', value=np.nan, inplace=True)
df.head(12)

,I1,I2,I3,pIPO,pH,pL,p1day,C1,C2,C3,...,C6,C7,T1,T2,T3,T4,T5,S1,S2,S3
0,AATI,ADVANCED ANALOGIC TECHNOLOGIES INC,3674,10.000000,9.50000,8.500000,11.870000,122.000000,1.000000,2.625000,...,1.060000e+07,51.345000,470.0,12719.0,11560.0,301.0,690.0,62.0,117.0,139.0
1,ABPI,ACCENTIA BIOPHARMACEUTICALS INC,2834,8.000000,10.00000,8.000000,7.250000,254.375000,0.000000,-1.620000,...,2.400000e+06,25.936000,791.0,21792.0,19585.0,510.0,1120.0,71.0,242.0,237.0
2,ACAD,ACADIA PHARMACEUTICALS INC,2834,7.000000,14.00000,12.000000,6.700000,90.000000,1.000000,-1.240000,...,5.000000e+06,7.378000,201.0,5262.0,4785.0,128.0,325.0,61.0,33.0,60.0
3,ACHN,ACHILLION PHARMACEUTICALS INC,2834,11.500000,16.00000,14.000000,12.390000,209.000000,1.000000,-0.910000,...,4.500000e+06,8.526000,328.0,8259.0,7574.0,177.0,509.0,80.0,59.0,110.0
4,ACLI,AMERICAN COMMERCIAL LINES INC.,4492,21.000000,21.00000,19.000000,35.936252,80.000000,1.000000,0.070000,...,8.250000e+06,632.298000,572.0,14830.0,13176.0,336.0,720.0,67.0,149.0,167.0
5,ACOM,Ancestry.com Inc.,7379,13.500000,14.50000,12.500000,14.200000,94.000000,1.000000,0.060000,...,7.407407e+06,197.591000,510.0,17999.0,13934.0,328.0,815.0,62.0,96.0,181.0
6,ACOR,ACORDA THERAPEUTICS INC,2836,6.000000,13.00000,11.000000,6.720000,128.000000,1.000000,-1.870000,...,5.500000e+06,5.146000,495.0,15758.0,13953.0,379.0,698.0,82.0,106.0,135.0
7,ACRX,ACELRX PHARMACEUTICALS INC,2834,5.000000,14.00000,12.000000,4.550000,91.000000,0.000000,-0.740000,...,8.000000e+06,500.459962,334.0,11226.0,10056.0,276.0,-1.0,55.0,120.0,122.0
8,ACTV,ACTIVE NETWORK INC,7372,15.000000,18.00000,16.000000,15.900000,100.000000,1.000000,-0.510000,...,1.100000e+07,279.600000,620.0,14813.0,13463.0,335.0,917.0,58.0,124.0,234.0
9,ACW,ACCURIDE CORP,3714,9.000000,19.00000,17.000000,0.000000,106.000000,1.000000,1.490000,...,1.100000e+07,494.008000,385.0,9134.0,8107.0,198.0,459.0,81.0,90.0,147.0
10,ADKU,"ADCARE HEALTH SYSTEMS, INC",NaN,13.837666,15.48119,13.515045,25.934766,149.728788,0.859091,1.788904,...,1.241519e+07,500.459962,332.0,7534.0,6747.0,169.0,263.0,51.0,65.0,74.0
11,ADLS,"Advanced Life Sciences Holdings, Inc.",2854,5.000000,9.00000,8.000000,6.000000,99.000000,1.000000,-2.775000,...,7.000000e+06,0.320000,253.0,5788.0,5200.0,138.0,385.0,29.0,41.0,70.0

In [5]:
# exmaining the columns
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 682 entries, 0 to 681
Data columns (total 22 columns):
I1       682 non-null object
I2       682 non-null object
I3       674 non-null object
pIPO     682 non-null float64
pH       682 non-null float64
pL       682 non-null float64
p1day    682 non-null float64
C1       682 non-null float64
C2       682 non-null float64
C3       682 non-null float64
C4       682 non-null float64
C5       682 non-null float64
C6       682 non-null float64
C7       682 non-null float64
T1       682 non-null float64
T2       682 non-null float64
T3       682 non-null float64
T4       682 non-null float64
T5       682 non-null float64
S1       682 non-null float64
S2       682 non-null float64
S3       682 non-null float64
dtypes: float64(19), object(3)
memory usage: 122.5+ KB

**Creating Target Variables**

In [6]:
# Define a pmid column to utilize later
def Pmid(row):
    return (row['pH'] + row['pL'])/2

# add a new column with the values returned from the previous function
df['Pmid'] = df.apply(lambda row: Pmid(row),axis=1)

In [7]:
# Define Pre-IPO Revision
def Y1Func(row):
    if row['pIPO'] < row['Pmid']:
        return 1
    return 0

# add a new column with the values returned from the previous function
df['Y1'] = df.apply(lambda row: Y1Func(row),axis=1)

In [8]:
# Define Post-IPO Initial Return
def Y2Func(row):
    if row['pIPO'] < row['p1day']:
        return 1
    return 0
# add a new column with the values returned from the previous function
df['Y2'] = df.apply(lambda row: Y2Func(row),axis=1)

**Creating Control Variables**

In [9]:
# Define Positive EPS Dummy
def C3pFunc(row):
    if row['C3'] > 0:
        return 1
    return 0
# add a new column with the values returned from the previous function
df['C3p'] = df.apply(lambda row: C3pFunc(row),axis=1)

In [10]:
# Define Share Overhang
def C5pFunc(row):
    return row['C5']/row['C6']
    
# add a new column with the values returned from the previous function
df['C5p'] = df.apply(lambda row: C5pFunc(row),axis=1)

In [11]:
# Define Up Revision
def C6pFunc(row):
    if row['pIPO'] > row['Pmid']:
        return 100*(row['pIPO']-row['Pmid'])/row['Pmid']
    return 0
    
# add a new column with the values returned from the previous function
df['C6p'] = df.apply(lambda row: C6pFunc(row),axis=1)

**Creating Ratio Variables**

In [12]:
# Define Long Sentences
def LongSentences(row):
    return row['T4']/row['T1']
    
# add a new column with the values returned from the previous function
df['LongSentences'] = df.apply(lambda row: LongSentences(row),axis=1)

In [13]:
# Define Real Words
def RealWords(row):
    if row['T2'] == 0 :
        return 0
    else: 
        return row['T3']/row['T2']

# add a new column with the values returned from the previous function
df['RealWords'] = df.apply(lambda row: RealWords(row),axis=1)

In [14]:
# Define Long Words
def LongWords(row):
    if row['T2'] == 0 :
        return 0
    else: 
        return row['T5']/row['T2']
    
# add a new column with the values returned from the previous function
df['LongWords'] = df.apply(lambda row: LongWords(row),axis=1)

In [15]:
# Define Positive Words
def PositiveWords(row):
    if row['T2'] == 0 :
        return 0
    else: 
        return row['S1']/row['T2']
    
# add a new column with the values returned from the previous function
df['PositiveWords'] = df.apply(lambda row: PositiveWords(row),axis=1)

In [16]:
# Define Negative Words
def NegativeWords(row):
    if row['T2'] == 0 :
        return 0
    else: 
        return row['S2']/row['T2']
    
# add a new column with the values returned from the previous function
df['NegativeWords'] = df.apply(lambda row: NegativeWords(row),axis=1)

In [17]:
# Define Uncertain Words
def UncertainWords(row):
    if row['T2'] == 0 :
        return 0
    else: 
        return row['S3']/row['T2']
    
# add a new column with the values returned from the previous function
df['UncertainWords'] = df.apply(lambda row: UncertainWords(row),axis=1)

In [18]:
df.sample(5)

,I1,I2,I3,pIPO,pH,pL,p1day,C1,C2,C3,...,Y2,C3p,C5p,C6p,LongSentences,RealWords,LongWords,PositiveWords,NegativeWords,UncertainWords
55,AVNC,"MiddleBrook Pharmaceuticals, Inc.",2834,10.0,14.0,12.0,10.000000,77.000,1.0,-2.775,...,0,0,3.793403,0.000000,0.576779,0.903155,0.065436,0.005089,0.007416,0.012360
524,SEM,SELECT MEDICAL HOLDINGS CORP,8060,10.0,13.0,11.0,10.090000,254.375,1.0,0.140,...,1,1,4.197579,0.000000,0.633136,0.900289,0.049374,0.003405,0.011326,0.012658
509,RP,REALPAGE INC,7372,11.0,15.0,13.0,14.520000,105.000,1.0,0.480,...,1,1,5.065480,0.000000,0.653465,0.910081,0.054922,0.004854,0.006266,0.011741
494,REST,"Restore Medical, Inc.",3842,8.0,11.0,9.0,8.190000,65.000,1.0,-0.440,...,1,0,3.812806,0.000000,0.668305,0.884124,0.055645,0.004764,0.008810,0.009978
12,ADZA,ADEZA BIOMEDICAL CORP,2835,16.0,16.0,14.0,19.700001,126.000,1.0,0.270,...,1,1,4.237291,6.666667,0.684466,0.865841,0.045185,0.003664,0.007502,0.013957

**Normalizing the Data**

In [19]:
def normalize(col):
    mean = np.mean(col)
    low = min(col)
    high = max(col)
    colnorm = (col - mean) / (high - low)
    return colnorm

In [20]:
columns = ['pIPO', 'pH', 'pL', 'p1day', 'C1', 'C3', 'C4', 'C5', 'C6', 'C7', 'T1', 'T2', 'T3', 'T4', 'T5', 'S1', 'S2', 'S3']
df_norm = pd.DataFrame()
for column in columns:
    df_norm[column] = normalize(df[column])
df_norm.head()

,pIPO,pH,pL,p1day,C1,C3,C4,C5,C6,C7,T1,T2,T3,T4,T5,S1,S2,S3
0,-0.147303,-0.349906,-0.291332,-0.141835,-0.020556,0.509084,0.125174,0.038593,0.048020,-0.014637,0.014349,0.006411,0.014487,0.018281,0.027277,-0.028904,0.018569,-0.011149
1,-0.228936,-0.318656,-0.322582,-0.270396,0.521132,-0.277027,-0.120508,-0.093366,-0.321570,-0.015465,0.461424,0.381669,0.377170,0.390167,0.359612,0.033005,0.574433,0.370918
2,-0.269752,-0.068656,-0.072582,-0.285701,-0.151502,-0.206657,0.076767,-0.224568,-0.204383,-0.016070,-0.360303,-0.302010,-0.291704,-0.289549,-0.254822,-0.035782,-0.354972,-0.319141
3,-0.086079,0.056344,0.052418,-0.127365,0.335454,-0.145546,0.072761,-0.246360,-0.226918,-0.016033,-0.183423,-0.178054,-0.165657,-0.202360,-0.112613,0.094914,-0.239352,-0.124209
4,0.301676,0.368844,0.364918,0.527858,-0.192423,0.035936,-0.245261,-0.072933,-0.057899,0.004297,0.156410,0.093722,0.087521,0.080558,0.050463,0.005490,0.160870,0.098013

In [21]:
from sklearn import preprocessing

x = df[columns].values
scaler = preprocessing.MinMaxScaler()
x_scaled = scaler.fit_transform(x)
df_scaled = pd.DataFrame(x_scaled,columns=columns)
df_scaled.head()

,pIPO,pH,pL,p1day,C1,C3,C4,C5,C6,C7,T1,T2,T3,T4,T5,S1,S2,S3
0,0.285714,0.15625,0.21875,0.330307,0.458312,1.000000,0.630418,0.406682,0.454100,0.001671,0.470752,0.520721,0.522445,0.531139,0.534055,0.433362,0.431351,0.440546
1,0.204082,0.18750,0.18750,0.201746,1.000000,0.213889,0.384735,0.274723,0.084510,0.000843,0.917827,0.895980,0.885128,0.903025,0.866390,0.495271,0.987215,0.822612
2,0.163265,0.43750,0.43750,0.186441,0.327366,0.284259,0.582011,0.143521,0.201697,0.000238,0.096100,0.212300,0.216254,0.223310,0.251956,0.426483,0.057810,0.132554
3,0.346939,0.56250,0.56250,0.344777,0.814322,0.345370,0.578004,0.121729,0.179161,0.000275,0.272981,0.336256,0.342301,0.310498,0.394165,0.557180,0.173430,0.327485
4,0.734694,0.87500,0.87500,1.000000,0.286445,0.526852,0.259982,0.295157,0.348181,0.020605,0.612813,0.608032,0.595478,0.593416,0.557241,0.467756,0.573652,0.549708

In [22]:
df_scaled.describe()

,pIPO,pH,pL,p1day,C1,C3,C4,C5,C6,C7,T1,T2,T3,T4,T5,S1,S2,S3
count,682.000000,682.000000,682.000000,682.000000,682.000000,682.000000,682.000000,682.000000,682.000000,682.000000,682.000000,682.000000,682.000000,682.000000,682.000000,682.000000,682.000000,682.000000
mean,0.433017,0.506156,0.510082,0.472142,0.478868,0.490916,0.505244,0.368089,0.406079,0.016308,0.456403,0.514310,0.507958,0.512858,0.506778,0.462266,0.412782,0.451694
std,0.196988,0.236041,0.229944,0.232232,0.253209,0.261763,0.186123,0.282768,0.273080,0.050802,0.212153,0.195645,0.191904,0.192641,0.196687,0.211455,0.246954,0.213469
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.285714,0.375000,0.375000,0.308672,0.306905,0.375000,0.384735,0.164267,0.201885,0.001351,0.305362,0.375000,0.369146,0.375000,0.358033,0.316423,0.235686,0.288499
50%,0.428571,0.530074,0.500000,0.417406,0.409207,0.526852,0.504223,0.260783,0.314377,0.004389,0.435237,0.492927,0.487600,0.492883,0.483432,0.419604,0.357977,0.421053
75%,0.571429,0.625000,0.625000,0.585203,0.584143,0.625000,0.641226,0.498560,0.521131,0.016308,0.583217,0.625000,0.621488,0.625000,0.614820,0.589854,0.541412,0.573099
max,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [23]:
df.head()

,I1,I2,I3,pIPO,pH,pL,p1day,C1,C2,C3,...,Y2,C3p,C5p,C6p,LongSentences,RealWords,LongWords,PositiveWords,NegativeWords,UncertainWords
0,AATI,ADVANCED ANALOGIC TECHNOLOGIES INC,3674,10.0,9.5,8.5,11.870000,122.000,1.0,2.625,...,1,1,3.864345,11.111111,0.640426,0.908876,0.054250,0.004875,0.009199,0.010929
1,ABPI,ACCENTIA BIOPHARMACEUTICALS INC,2834,8.0,10.0,8.0,7.250000,254.375,0.0,-1.620,...,0,0,12.028832,0.000000,0.644753,0.898724,0.051395,0.003258,0.011105,0.010876
2,ACAD,ACADIA PHARMACEUTICALS INC,2834,7.0,14.0,12.0,6.700000,90.000,1.0,-1.240,...,0,0,3.369134,0.000000,0.636816,0.909350,0.061764,0.011593,0.006271,0.011403
3,ACHN,ACHILLION PHARMACEUTICALS INC,2834,11.5,16.0,14.0,12.390000,209.000,1.0,-0.910,...,1,0,3.299697,0.000000,0.539634,0.917060,0.061630,0.009686,0.007144,0.013319
4,ACLI,AMERICAN COMMERCIAL LINES INC.,4492,21.0,21.0,19.0,35.936252,80.000,1.0,0.070,...,1,1,3.726269,5.000000,0.587413,0.888469,0.048550,0.004518,0.010047,0.011261

In [24]:
df = pd.concat([df_ids, df_scaled], axis=1)
df.head()

,I1,I2,I3,pIPO,pH,pL,p1day,C1,C3,C4,...,C6,C7,T1,T2,T3,T4,T5,S1,S2,S3
0,AATI,ADVANCED ANALOGIC TECHNOLOGIES INC,3674,0.285714,0.15625,0.21875,0.330307,0.458312,1.000000,0.630418,...,0.454100,0.001671,0.470752,0.520721,0.522445,0.531139,0.534055,0.433362,0.431351,0.440546
1,ABPI,ACCENTIA BIOPHARMACEUTICALS INC,2834,0.204082,0.18750,0.18750,0.201746,1.000000,0.213889,0.384735,...,0.084510,0.000843,0.917827,0.895980,0.885128,0.903025,0.866390,0.495271,0.987215,0.822612
2,ACAD,ACADIA PHARMACEUTICALS INC,2834,0.163265,0.43750,0.43750,0.186441,0.327366,0.284259,0.582011,...,0.201697,0.000238,0.096100,0.212300,0.216254,0.223310,0.251956,0.426483,0.057810,0.132554
3,ACHN,ACHILLION PHARMACEUTICALS INC,2834,0.346939,0.56250,0.56250,0.344777,0.814322,0.345370,0.578004,...,0.179161,0.000275,0.272981,0.336256,0.342301,0.310498,0.394165,0.557180,0.173430,0.327485
4,ACLI,AMERICAN COMMERCIAL LINES INC.,4492,0.734694,0.87500,0.87500,1.000000,0.286445,0.526852,0.259982,...,0.348181,0.020605,0.612813,0.608032,0.595478,0.593416,0.557241,0.467756,0.573652,0.549708

In [25]:
df.describe()

,pIPO,pH,pL,p1day,C1,C3,C4,C5,C6,C7,T1,T2,T3,T4,T5,S1,S2,S3
count,682.000000,682.000000,682.000000,682.000000,682.000000,682.000000,682.000000,682.000000,682.000000,682.000000,682.000000,682.000000,682.000000,682.000000,682.000000,682.000000,682.000000,682.000000
mean,0.433017,0.506156,0.510082,0.472142,0.478868,0.490916,0.505244,0.368089,0.406079,0.016308,0.456403,0.514310,0.507958,0.512858,0.506778,0.462266,0.412782,0.451694
std,0.196988,0.236041,0.229944,0.232232,0.253209,0.261763,0.186123,0.282768,0.273080,0.050802,0.212153,0.195645,0.191904,0.192641,0.196687,0.211455,0.246954,0.213469
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.285714,0.375000,0.375000,0.308672,0.306905,0.375000,0.384735,0.164267,0.201885,0.001351,0.305362,0.375000,0.369146,0.375000,0.358033,0.316423,0.235686,0.288499
50%,0.428571,0.530074,0.500000,0.417406,0.409207,0.526852,0.504223,0.260783,0.314377,0.004389,0.435237,0.492927,0.487600,0.492883,0.483432,0.419604,0.357977,0.421053
75%,0.571429,0.625000,0.625000,0.585203,0.584143,0.625000,0.641226,0.498560,0.521131,0.016308,0.583217,0.625000,0.621488,0.625000,0.614820,0.589854,0.541412,0.573099
max,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [26]:
df.to_csv('csv_files/normal.csv')