In [1]:
#Importing the packages that we need 
import pandas as pd
import numpy as np

In [2]:
#Loading in the csv file
dfx = pd.read_csv('csv_files/p1no_skew.csv', header=0, index_col=0)
dfx.head()

,C1,C3,C4,C5,C6,C7,T1,T2,T3,T4,...,S3,C5p,LongSentences,RealWords,LongWords,PositiveWords,NegativeWords,UncertainWords,C2,C3p
0,0.458312,1.000000,0.630418,0.637716,0.673869,0.207673,0.470752,0.520721,0.522445,0.531139,...,0.663736,0.570284,0.441786,0.427704,0.428334,0.428161,0.397992,0.379065,1.0,0
1,1.000000,0.213889,0.384735,0.524141,0.290706,0.147494,0.917827,0.895980,0.885128,0.903025,...,0.906980,0.698942,0.444796,0.426904,0.424499,0.400971,0.414195,0.378486,0.0,1
2,0.327366,0.284259,0.582011,0.378842,0.449107,0.078383,0.096100,0.212300,0.216254,0.223310,...,0.364079,0.555596,0.439275,0.427741,0.437681,0.493771,0.363924,0.384058,1.0,1
3,0.814322,0.345370,0.578004,0.348897,0.423274,0.084319,0.272981,0.336256,0.342301,0.310498,...,0.572263,0.553374,0.371690,0.428343,0.437523,0.479331,0.375764,0.401495,1.0,1
4,0.286445,0.526852,0.259982,0.543283,0.590068,0.729255,0.612813,0.608032,0.595478,0.593416,...,0.741423,0.566377,0.404918,0.426088,0.420497,0.422876,0.405605,0.382601,1.0,0

In [3]:
#Loaded in the csv as a DataFrame
dfy = pd.read_csv('csv_files/y.csv', index_col=0)
dfy.head()

   pIPO    pH    pL      p1day  Pmid  Y1  Y2        C6p
0  10.0   9.5   8.5  11.870000   9.0   0   1  11.111111
1   8.0  10.0   8.0   7.250000   9.0   1   0   0.000000
2   7.0  14.0  12.0   6.700000  13.0   1   0   0.000000
3  11.5  16.0  14.0  12.390000  15.0   1   1   0.000000
4  21.0  21.0  19.0  56.599998  20.0   0   1   5.000000

In [4]:
#Loaded in the csv as a DataFrame
dfid = pd.read_csv('csv_files/id.csv', index_col=0)
dfid.head()

     I1                                  I2    I3
0  AATI  ADVANCED ANALOGIC TECHNOLOGIES INC  3674
1  ABPI     ACCENTIA BIOPHARMACEUTICALS INC  2834
2  ACAD          ACADIA PHARMACEUTICALS INC  2834
3  ACHN       ACHILLION PHARMACEUTICALS INC  2834
4  ACLI     AMERICAN COMMERCIAL LINES INC.   4492

In [5]:
#Concated the dfid and dfy DataFrames 
df = pd.concat([dfid, dfy], axis=1)
df.head()

,I1,I2,I3,pIPO,pH,pL,p1day,Pmid,Y1,Y2,C6p
0,AATI,ADVANCED ANALOGIC TECHNOLOGIES INC,3674,10.0,9.5,8.5,11.870000,9.0,0,1,11.111111
1,ABPI,ACCENTIA BIOPHARMACEUTICALS INC,2834,8.0,10.0,8.0,7.250000,9.0,1,0,0.000000
2,ACAD,ACADIA PHARMACEUTICALS INC,2834,7.0,14.0,12.0,6.700000,13.0,1,0,0.000000
3,ACHN,ACHILLION PHARMACEUTICALS INC,2834,11.5,16.0,14.0,12.390000,15.0,1,1,0.000000
4,ACLI,AMERICAN COMMERCIAL LINES INC.,4492,21.0,21.0,19.0,56.599998,20.0,0,1,5.000000

In [6]:
#Concated the df and dfx DataFrames
df = pd.concat([df, dfx], axis=1)
df.head()

,I1,I2,I3,pIPO,pH,pL,p1day,Pmid,Y1,Y2,...,S3,C5p,LongSentences,RealWords,LongWords,PositiveWords,NegativeWords,UncertainWords,C2,C3p
0,AATI,ADVANCED ANALOGIC TECHNOLOGIES INC,3674,10.0,9.5,8.5,11.870000,9.0,0,1,...,0.663736,0.570284,0.441786,0.427704,0.428334,0.428161,0.397992,0.379065,1.0,0
1,ABPI,ACCENTIA BIOPHARMACEUTICALS INC,2834,8.0,10.0,8.0,7.250000,9.0,1,0,...,0.906980,0.698942,0.444796,0.426904,0.424499,0.400971,0.414195,0.378486,0.0,1
2,ACAD,ACADIA PHARMACEUTICALS INC,2834,7.0,14.0,12.0,6.700000,13.0,1,0,...,0.364079,0.555596,0.439275,0.427741,0.437681,0.493771,0.363924,0.384058,1.0,1
3,ACHN,ACHILLION PHARMACEUTICALS INC,2834,11.5,16.0,14.0,12.390000,15.0,1,1,...,0.572263,0.553374,0.371690,0.428343,0.437523,0.479331,0.375764,0.401495,1.0,1
4,ACLI,AMERICAN COMMERCIAL LINES INC.,4492,21.0,21.0,19.0,56.599998,20.0,0,1,...,0.741423,0.566377,0.404918,0.426088,0.420497,0.422876,0.405605,0.382601,1.0,0

In [7]:
#To fill the '-' values in 'I3' with 0
df['I3'].replace(to_replace='-', value=0, inplace=True)
df.head(10)

,I1,I2,I3,pIPO,pH,pL,p1day,Pmid,Y1,Y2,...,S3,C5p,LongSentences,RealWords,LongWords,PositiveWords,NegativeWords,UncertainWords,C2,C3p
0,AATI,ADVANCED ANALOGIC TECHNOLOGIES INC,3674,10.0,9.5,8.5,11.870000,9.0,0,1,...,0.663736,0.570284,0.441786,0.427704,0.428334,0.428161,0.397992,0.379065,1.0,0
1,ABPI,ACCENTIA BIOPHARMACEUTICALS INC,2834,8.0,10.0,8.0,7.250000,9.0,1,0,...,0.906980,0.698942,0.444796,0.426904,0.424499,0.400971,0.414195,0.378486,0.0,1
2,ACAD,ACADIA PHARMACEUTICALS INC,2834,7.0,14.0,12.0,6.700000,13.0,1,0,...,0.364079,0.555596,0.439275,0.427741,0.437681,0.493771,0.363924,0.384058,1.0,1
3,ACHN,ACHILLION PHARMACEUTICALS INC,2834,11.5,16.0,14.0,12.390000,15.0,1,1,...,0.572263,0.553374,0.371690,0.428343,0.437523,0.479331,0.375764,0.401495,1.0,1
4,ACLI,AMERICAN COMMERCIAL LINES INC.,4492,21.0,21.0,19.0,56.599998,20.0,0,1,...,0.741423,0.566377,0.404918,0.426088,0.420497,0.422876,0.405605,0.382601,1.0,0
5,ACOM,Ancestry.com Inc.,7379,13.5,14.5,12.5,14.200000,13.5,0,1,...,0.777360,0.613123,0.443672,0.416419,0.415648,0.404608,0.348588,0.368912,1.0,0
6,ACOR,ACORDA THERAPEUTICS INC,2836,6.0,13.0,11.0,6.720000,12.0,1,1,...,0.651883,0.558535,0.528878,0.425847,0.414129,0.432764,0.370340,0.347457,1.0,1
7,ACRX,ACELRX PHARMACEUTICALS INC,2834,5.0,14.0,12.0,4.550000,13.0,1,0,...,0.611775,0.520454,0.571085,0.426670,0.000000,0.428516,0.410927,0.378399,0.0,1
8,ACTV,ACTIVE NETWORK INC,7372,15.0,18.0,16.0,15.900000,17.0,1,1,...,0.900509,0.594133,0.372169,0.427703,0.437848,0.413123,0.389788,0.419572,1.0,1
9,ACW,ACCURIDE CORP,3714,9.0,19.0,17.0,0.000000,18.0,1,0,...,0.686830,0.545220,0.354061,0.426015,0.422914,0.472399,0.403928,0.421495,1.0,0

In [8]:
#Filling in ID #s that had originally had multiple values 
##Found the correct ID #s on the internet
df.iloc[118, df.columns.get_loc('I3')] = 5261
df.iloc[174, df.columns.get_loc('I3')] = 7812
df.iloc[181, df.columns.get_loc('I3')] = 191
df.iloc[187, df.columns.get_loc('I3')] = 5731
df.iloc[221, df.columns.get_loc('I3')] = 7389
df.iloc[246, df.columns.get_loc('I3')] = 7372
df.iloc[499, df.columns.get_loc('I3')] = 3663
df.iloc[620, df.columns.get_loc('I3')] = 5065

In [11]:
#Going to bin column 'I3'. Based on the Major Industries and then all 'others'

def assign_industry_bins(I3):
    if int(I3) >= 2000 and int(I3) <= 3999:  #Returning '1' if is in Manufacturing industry
        return(1)
    if int(I3) >= 7000 and int(I3) <= 8999:  #Returing '2' if is in Services industy
        return(2)
    else:                          #Returning '3' for all industries other than
        return(3)                  ##Manufacturing and Services

#Creating a Industry Bins column in the DataFrame
df['Industry_Bins'] = df['I3'].apply(assign_industry_bins)

In [12]:
#Printed out to make sure that the Binning worked 
df.head()

,I1,I2,I3,pIPO,pH,pL,p1day,Pmid,Y1,Y2,...,C5p,LongSentences,RealWords,LongWords,PositiveWords,NegativeWords,UncertainWords,C2,C3p,Industry_Bins
0,AATI,ADVANCED ANALOGIC TECHNOLOGIES INC,3674,10.0,9.5,8.5,11.870000,9.0,0,1,...,0.570284,0.441786,0.427704,0.428334,0.428161,0.397992,0.379065,1.0,0,1
1,ABPI,ACCENTIA BIOPHARMACEUTICALS INC,2834,8.0,10.0,8.0,7.250000,9.0,1,0,...,0.698942,0.444796,0.426904,0.424499,0.400971,0.414195,0.378486,0.0,1,1
2,ACAD,ACADIA PHARMACEUTICALS INC,2834,7.0,14.0,12.0,6.700000,13.0,1,0,...,0.555596,0.439275,0.427741,0.437681,0.493771,0.363924,0.384058,1.0,1,1
3,ACHN,ACHILLION PHARMACEUTICALS INC,2834,11.5,16.0,14.0,12.390000,15.0,1,1,...,0.553374,0.371690,0.428343,0.437523,0.479331,0.375764,0.401495,1.0,1,1
4,ACLI,AMERICAN COMMERCIAL LINES INC.,4492,21.0,21.0,19.0,56.599998,20.0,0,1,...,0.566377,0.404918,0.426088,0.420497,0.422876,0.405605,0.382601,1.0,0,3

In [11]:
#Saved to a csv
df.to_csv('csv_files/Binning_I3.csv')

**Binning**