In [7]:
import pandas as pd
import numpy as np
from sklearn.feature_selection import SelectKBest
from sklearn.feature_selection import chi2

In [8]:
# read in file 
df = pd.read_csv('../csv_files/p3feature-selection.csv', index_col=0)
df.head()

,C1,C4,C6p,C7,C5p,T4p,T3p,T5p,S1p,S2p,S3p,C2,C3p,Industry_Bins,Y1,Y2
0,0.458312,0.630418,0.788811,0.207673,0.471242,0.534307,0.617569,0.567375,0.462525,0.729701,0.478776,1.0,0,1,0,1
1,1.000000,0.384735,0.000000,0.147494,1.000000,0.545709,0.521720,0.489104,0.271483,0.817120,0.474754,0.0,1,1,1,0
2,0.327366,0.582011,0.000000,0.078383,0.406077,0.524798,0.622040,0.773408,1.000000,0.569904,0.514761,1.0,1,1,1,0
3,0.814322,0.578004,0.000000,0.084319,0.396940,0.268780,0.694834,0.769738,1.000000,0.621831,0.660248,1.0,1,1,1,1
4,0.286445,0.259982,0.529150,0.729255,0.453073,0.394649,0.424900,0.411101,0.420367,0.769835,0.504014,1.0,0,3,0,1

In [9]:
#Converting the datagrame into the correct arrays to make filtering easier 
array = df.values
X = array[:,:-2] #features
Y1 = array[:,-2] #Target 1
Y2 = array[:,-1] #Targer 2

In [10]:
# Feature selection for Y1 
test = SelectKBest(score_func=chi2, k=4)
fit = test.fit(X, Y1)
#Printing out the results
np.set_printoptions(precision=3)
print(fit.scores_)

[2.947e-01 2.838e-01 1.954e+02 1.988e-02 1.629e-01 2.404e-01 8.255e-01
 6.903e-01 5.180e-01 4.140e-01 1.604e-01 4.750e-01 4.831e+00 2.006e+00]

In [11]:
# Feature selection for Y2
test = SelectKBest(score_func=chi2, k=4)
fit = test.fit(X, Y2)
#Printing out the results
np.set_printoptions(precision=3)
print(fit.scores_)

[1.043e-01 3.515e-01 2.852e+01 7.584e-01 2.245e-01 2.554e-03 3.236e-02
 6.743e-02 1.431e-01 1.243e-01 7.347e-02 1.834e-01 4.211e-01 2.095e+00]