In [1]:
#Importing the packages that we need 
import pandas as pd
import numpy as np

In [2]:
#Loading in the csv file
df = pd.read_csv('../csv_files/p3final.csv', header=0, index_col=0)
df.head()

,I1,I2,I3,pIPO,pH,pL,p1day,Pmid,Y1,Y2,...,C7,C5p,T4p,T3p,T5p,S1p,S2p,S3p,C2,C3p
0,AATI,ADVANCED ANALOGIC TECHNOLOGIES INC,3674,10.0,9.5,8.5,11.870000,9.0,0,1,...,0.207673,0.471242,0.534307,0.617569,0.567375,0.462525,0.729701,0.478776,1.0,0
1,ABPI,ACCENTIA BIOPHARMACEUTICALS INC,2834,8.0,10.0,8.0,7.250000,9.0,1,0,...,0.147494,1.000000,0.545709,0.521720,0.489104,0.271483,0.817120,0.474754,0.0,1
2,ACAD,ACADIA PHARMACEUTICALS INC,2834,7.0,14.0,12.0,6.700000,13.0,1,0,...,0.078383,0.406077,0.524798,0.622040,0.773408,1.000000,0.569904,0.514761,1.0,1
3,ACHN,ACHILLION PHARMACEUTICALS INC,2834,11.5,16.0,14.0,12.390000,15.0,1,1,...,0.084319,0.396940,0.268780,0.694834,0.769738,1.000000,0.621831,0.660248,1.0,1
4,ACLI,AMERICAN COMMERCIAL LINES INC.,4492,21.0,21.0,19.0,56.599998,20.0,0,1,...,0.729255,0.453073,0.394649,0.424900,0.411101,0.420367,0.769835,0.504014,1.0,0

In [3]:
#To fill the '-' values in 'I3' with 0
df['I3'].replace(to_replace='-', value=0, inplace=True)
df.head()

,I1,I2,I3,pIPO,pH,pL,p1day,Pmid,Y1,Y2,...,C7,C5p,T4p,T3p,T5p,S1p,S2p,S3p,C2,C3p
0,AATI,ADVANCED ANALOGIC TECHNOLOGIES INC,3674,10.0,9.5,8.5,11.870000,9.0,0,1,...,0.207673,0.471242,0.534307,0.617569,0.567375,0.462525,0.729701,0.478776,1.0,0
1,ABPI,ACCENTIA BIOPHARMACEUTICALS INC,2834,8.0,10.0,8.0,7.250000,9.0,1,0,...,0.147494,1.000000,0.545709,0.521720,0.489104,0.271483,0.817120,0.474754,0.0,1
2,ACAD,ACADIA PHARMACEUTICALS INC,2834,7.0,14.0,12.0,6.700000,13.0,1,0,...,0.078383,0.406077,0.524798,0.622040,0.773408,1.000000,0.569904,0.514761,1.0,1
3,ACHN,ACHILLION PHARMACEUTICALS INC,2834,11.5,16.0,14.0,12.390000,15.0,1,1,...,0.084319,0.396940,0.268780,0.694834,0.769738,1.000000,0.621831,0.660248,1.0,1
4,ACLI,AMERICAN COMMERCIAL LINES INC.,4492,21.0,21.0,19.0,56.599998,20.0,0,1,...,0.729255,0.453073,0.394649,0.424900,0.411101,0.420367,0.769835,0.504014,1.0,0

In [4]:
#Filling in ID #s that had originally had multiple values 
##Found the correct ID #s on the internet
df.iloc[118, df.columns.get_loc('I3')] = 5261
df.iloc[174, df.columns.get_loc('I3')] = 7812
df.iloc[181, df.columns.get_loc('I3')] = 191
df.iloc[187, df.columns.get_loc('I3')] = 5731
df.iloc[221, df.columns.get_loc('I3')] = 7389
df.iloc[246, df.columns.get_loc('I3')] = 7372
df.iloc[499, df.columns.get_loc('I3')] = 3663
df.iloc[620, df.columns.get_loc('I3')] = 5065

In [5]:
#Going to bin column 'I3'. Based on the Major Industries and then all 'others'

def assign_industry_bins(I3):
    if int(I3) >= 2000 and int(I3) <= 3999:  #Returning '1' if is in Manufacturing industry
        return(1)
    if int(I3) >= 7000 and int(I3) <= 8999:  #Returing '2' if is in Services industy
        return(2)
    else:                          #Returning '3' for all industries other than
        return(3)                  ##Manufacturing and Services

#Creating a Industry Bins column in the DataFrame
df['Industry_Bins'] = df['I3'].apply(assign_industry_bins)

In [6]:
df.head()

,I1,I2,I3,pIPO,pH,pL,p1day,Pmid,Y1,Y2,...,C5p,T4p,T3p,T5p,S1p,S2p,S3p,C2,C3p,Industry_Bins
0,AATI,ADVANCED ANALOGIC TECHNOLOGIES INC,3674,10.0,9.5,8.5,11.870000,9.0,0,1,...,0.471242,0.534307,0.617569,0.567375,0.462525,0.729701,0.478776,1.0,0,1
1,ABPI,ACCENTIA BIOPHARMACEUTICALS INC,2834,8.0,10.0,8.0,7.250000,9.0,1,0,...,1.000000,0.545709,0.521720,0.489104,0.271483,0.817120,0.474754,0.0,1,1
2,ACAD,ACADIA PHARMACEUTICALS INC,2834,7.0,14.0,12.0,6.700000,13.0,1,0,...,0.406077,0.524798,0.622040,0.773408,1.000000,0.569904,0.514761,1.0,1,1
3,ACHN,ACHILLION PHARMACEUTICALS INC,2834,11.5,16.0,14.0,12.390000,15.0,1,1,...,0.396940,0.268780,0.694834,0.769738,1.000000,0.621831,0.660248,1.0,1,1
4,ACLI,AMERICAN COMMERCIAL LINES INC.,4492,21.0,21.0,19.0,56.599998,20.0,0,1,...,0.453073,0.394649,0.424900,0.411101,0.420367,0.769835,0.504014,1.0,0,3

In [7]:
df.columns

Index(['I1', 'I2', 'I3', 'pIPO', 'pH', 'pL', 'p1day', 'Pmid', 'Y1', 'Y2', 'C1',
       'C4', 'C6p', 'C7', 'C5p', 'T4p', 'T3p', 'T5p', 'S1p', 'S2p', 'S3p',
       'C2', 'C3p', 'Industry_Bins'],
      dtype='object')

In [8]:
df.to_csv('../csv_files/p3binning.csv')