**Importing the Datafile**

In [137]:
# import appropriate packages
import numpy as np
import pandas as pd

In [138]:
# read the excel file
# had to install the xlrd package to read the file 
df = pd.read_csv("clean_data_kerry.csv")
df.head(10)

,Unnamed: 0,I1,I2,I3,P(IPO),P(H),P(L),P(1Day),C1,C2,...,T5,S1,S2,S3,P(mid),Y1,Y2,C3p,C5p,C6p
0,0,AATI,ADVANCED ANALOGIC TECHNOLOGIES INC,3674,10.0,9.5,8.5,11.870000,122.0,1.0,...,690.0,62.0,117.0,139.0,9.0,0,1,0,3.864345,11.111111
1,1,ABPI,ACCENTIA BIOPHARMACEUTICALS INC,2834,8.0,10.0,8.0,7.250000,259.0,0.0,...,1120.0,71.0,242.0,237.0,9.0,1,0,1,12.028832,0.000000
2,2,ACAD,ACADIA PHARMACEUTICALS INC,2834,7.0,14.0,12.0,6.700000,90.0,1.0,...,325.0,61.0,33.0,60.0,13.0,1,0,1,3.369134,0.000000
3,3,ACHN,ACHILLION PHARMACEUTICALS INC,2834,11.5,16.0,14.0,12.390000,209.0,1.0,...,509.0,80.0,59.0,110.0,15.0,1,1,1,3.299697,0.000000
4,4,ACLI,AMERICAN COMMERCIAL LINES INC.,4492,21.0,21.0,19.0,56.599998,80.0,1.0,...,720.0,67.0,149.0,167.0,20.0,0,1,0,3.726269,5.000000
5,5,ACOM,Ancestry.com Inc.,7379,13.5,14.5,12.5,14.200000,94.0,1.0,...,815.0,62.0,96.0,181.0,13.5,0,1,0,5.724394,0.000000
6,6,ACOR,ACORDA THERAPEUTICS INC,2836,6.0,13.0,11.0,6.720000,128.0,1.0,...,698.0,82.0,106.0,135.0,12.0,1,1,1,3.463095,0.000000
7,7,ACRX,ACELRX PHARMACEUTICALS INC,2834,5.0,14.0,12.0,4.550000,91.0,0.0,...,-1.0,55.0,120.0,122.0,13.0,1,0,1,2.421469,0.000000
8,8,ACTV,ACTIVE NETWORK INC,7372,15.0,18.0,16.0,15.900000,100.0,1.0,...,917.0,58.0,124.0,234.0,17.0,1,1,1,4.816591,0.000000
9,9,ACW,ACCURIDE CORP,3714,9.0,19.0,17.0,0.000000,106.0,1.0,...,459.0,81.0,90.0,147.0,18.0,1,0,0,3.056608,0.000000

In [139]:
# replace '-' with NaN (smooth the data)
df.replace(to_replace='-', value=np.nan, inplace=True)
df.head(12)

,Unnamed: 0,I1,I2,I3,P(IPO),P(H),P(L),P(1Day),C1,C2,...,T5,S1,S2,S3,P(mid),Y1,Y2,C3p,C5p,C6p
0,0,AATI,ADVANCED ANALOGIC TECHNOLOGIES INC,3674,10.000000,9.50000,8.500000,11.870000,122.000000,1.000000,...,690.0,62.0,117.0,139.0,9.000000,0,1,0,3.864345,11.111111
1,1,ABPI,ACCENTIA BIOPHARMACEUTICALS INC,2834,8.000000,10.00000,8.000000,7.250000,259.000000,0.000000,...,1120.0,71.0,242.0,237.0,9.000000,1,0,1,12.028832,0.000000
2,2,ACAD,ACADIA PHARMACEUTICALS INC,2834,7.000000,14.00000,12.000000,6.700000,90.000000,1.000000,...,325.0,61.0,33.0,60.0,13.000000,1,0,1,3.369134,0.000000
3,3,ACHN,ACHILLION PHARMACEUTICALS INC,2834,11.500000,16.00000,14.000000,12.390000,209.000000,1.000000,...,509.0,80.0,59.0,110.0,15.000000,1,1,1,3.299697,0.000000
4,4,ACLI,AMERICAN COMMERCIAL LINES INC.,4492,21.000000,21.00000,19.000000,56.599998,80.000000,1.000000,...,720.0,67.0,149.0,167.0,20.000000,0,1,0,3.726269,5.000000
5,5,ACOM,Ancestry.com Inc.,7379,13.500000,14.50000,12.500000,14.200000,94.000000,1.000000,...,815.0,62.0,96.0,181.0,13.500000,0,1,0,5.724394,0.000000
6,6,ACOR,ACORDA THERAPEUTICS INC,2836,6.000000,13.00000,11.000000,6.720000,128.000000,1.000000,...,698.0,82.0,106.0,135.0,12.000000,1,1,1,3.463095,0.000000
7,7,ACRX,ACELRX PHARMACEUTICALS INC,2834,5.000000,14.00000,12.000000,4.550000,91.000000,0.000000,...,-1.0,55.0,120.0,122.0,13.000000,1,0,1,2.421469,0.000000
8,8,ACTV,ACTIVE NETWORK INC,7372,15.000000,18.00000,16.000000,15.900000,100.000000,1.000000,...,917.0,58.0,124.0,234.0,17.000000,1,1,1,4.816591,0.000000
9,9,ACW,ACCURIDE CORP,3714,9.000000,19.00000,17.000000,0.000000,106.000000,1.000000,...,459.0,81.0,90.0,147.0,18.000000,1,0,0,3.056608,0.000000
10,10,ADKU,"ADCARE HEALTH SYSTEMS, INC",NaN,13.837666,15.48119,13.515045,25.934766,149.728788,0.859091,...,263.0,51.0,65.0,74.0,14.498118,1,1,0,3.975593,0.000000
11,11,ADLS,"Advanced Life Sciences Holdings, Inc.",2854,5.000000,9.00000,8.000000,6.000000,99.000000,1.000000,...,385.0,29.0,41.0,70.0,8.500000,1,1,1,2.546686,0.000000

In [140]:
# exmaining the columns
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 682 entries, 0 to 681
Data columns (total 29 columns):
Unnamed: 0    682 non-null int64
I1            682 non-null object
I2            682 non-null object
I3            674 non-null object
P(IPO)        682 non-null float64
P(H)          682 non-null float64
P(L)          682 non-null float64
P(1Day)       682 non-null float64
C1            682 non-null float64
C2            682 non-null float64
C3            682 non-null float64
C4            682 non-null float64
C5            682 non-null float64
C6            682 non-null float64
C7            682 non-null float64
T1            682 non-null float64
T2            682 non-null float64
T3            682 non-null float64
T4            682 non-null float64
T5            682 non-null float64
S1            682 non-null float64
S2            682 non-null float64
S3            682 non-null float64
P(mid)        682 non-null float64
Y1            682 non-null int64
Y2            682 non-null int64
C3p           682 non-null int64
C5p           682 non-null float64
C6p           682 non-null float64
dtypes: float64(22), int64(4), object(3)
memory usage: 154.6+ KB

**Creating Target Variables**

In [141]:
# Define a pmid column to utilize later
def Pmid(row):
    return (row['P(H)'] + row['P(L)'])/2

# add a new column with the values returned from the previous function
df['Pmid'] = df.apply(lambda row: Pmid(row),axis=1)

In [142]:
# Define Pre-IPO Revision
def Y1Func(row):
    if row['P(IPO)'] < row['Pmid']:
        return 1
    return 0

# add a new column with the values returned from the previous function
df['Y1'] = df.apply(lambda row: Y1Func(row),axis=1)

In [143]:
# Define Post-IPO Initial Return
def Y2Func(row):
    if row['P(IPO)'] < row['P(1Day)']:
        return 1
    return 0
# add a new column with the values returned from the previous function
df['Y2'] = df.apply(lambda row: Y2Func(row),axis=1)

**Creating Control Variables**

In [144]:
# Define Positive EPS Dummy
def C3pFunc(row):
    if row['C3'] > 0:
        return 1
    return 0
# add a new column with the values returned from the previous function
df['C3p'] = df.apply(lambda row: C3pFunc(row),axis=1)

In [145]:
# Define Share Overhang
def C5pFunc(row):
    return row['C5']/row['C6']
    
# add a new column with the values returned from the previous function
df['C5p'] = df.apply(lambda row: C5pFunc(row),axis=1)

In [146]:
# Define Up Revision
def C6pFunc(row):
    if row['P(IPO)'] > row['Pmid']:
        return 100*(row['P(IPO)']-row['Pmid'])/row['Pmid']
    return 0
    
# add a new column with the values returned from the previous function
df['C6p'] = df.apply(lambda row: C6pFunc(row),axis=1)

**Creating Ratio Variables**

In [147]:
# Define Long Sentences
def LongSentences(row):
    return row['T4']/row['T1']
    
# add a new column with the values returned from the previous function
df['LongSentences'] = df.apply(lambda row: LongSentences(row),axis=1)

In [148]:
# Define Real Words
def RealWords(row):
    if row['T2'] == 0 :
        return 0
    else: 
        return row['T3']/row['T2']

# add a new column with the values returned from the previous function
df['RealWords'] = df.apply(lambda row: RealWords(row),axis=1)

In [149]:
# Define Long Words
def LongWords(row):
    if row['T2'] == 0 :
        return 0
    else: 
        return row['T5']/row['T2']
    
# add a new column with the values returned from the previous function
df['LongWords'] = df.apply(lambda row: LongWords(row),axis=1)

In [150]:
# Define Positive Words
def PositiveWords(row):
    if row['T2'] == 0 :
        return 0
    else: 
        return row['S1']/row['T2']
    
# add a new column with the values returned from the previous function
df['PositiveWords'] = df.apply(lambda row: PositiveWords(row),axis=1)

In [151]:
# Define Negative Words
def NegativeWords(row):
    if row['T2'] == 0 :
        return 0
    else: 
        return row['S2']/row['T2']
    
# add a new column with the values returned from the previous function
df['NegativeWords'] = df.apply(lambda row: NegativeWords(row),axis=1)

In [152]:
# Define Uncertain Words
def UncertainWords(row):
    if row['T2'] == 0 :
        return 0
    else: 
        return row['S3']/row['T2']
    
# add a new column with the values returned from the previous function
df['UncertainWords'] = df.apply(lambda row: UncertainWords(row),axis=1)

In [153]:
df.sample(5)

,Unnamed: 0,I1,I2,I3,P(IPO),P(H),P(L),P(1Day),C1,C2,...,C3p,C5p,C6p,Pmid,LongSentences,RealWords,LongWords,PositiveWords,NegativeWords,UncertainWords
331,331,KIOR,Kior Inc,2860,15.0,21.0,19.0,15.00,74.0,1.0,...,0,3.913313,0.0,20.0,0.579767,0.923053,0.061542,0.005341,0.006967,0.013160
621,621,USBE,US BioEnergy CORP,2860,14.0,17.0,15.0,15.10,134.0,1.0,...,0,6.623443,0.0,16.0,0.592401,0.877998,0.037395,0.002281,0.004493,0.008295
7,7,ACRX,ACELRX PHARMACEUTICALS INC,2834,5.0,14.0,12.0,4.55,91.0,0.0,...,0,2.421469,0.0,13.0,0.826347,0.895778,-0.000089,0.004899,0.010689,0.010868
436,436,OMPI,"Obagi Medical Products, Inc.",2834,11.0,15.0,13.0,10.10,92.0,1.0,...,1,4.074614,0.0,14.0,0.554700,0.905485,0.049505,0.005771,0.011905,0.011480
590,590,TOWR,"Tower International, Inc.",3714,13.0,17.0,15.0,13.00,225.0,1.0,...,0,2.994859,0.0,16.0,0.655835,0.827217,0.050677,0.009349,0.016689,0.009567

**Normalizing the Data**

In [157]:
def normalize(col):
    mean = np.mean(col)
    low = min(col)
    high = max(col)
    colnorm = (col - mean) / (high - low)
    return colnorm

In [158]:
columns = ['P(IPO)', 'P(H)', 'P(L)', 'P(1Day)', 'C1', 'C3', 'C4', 'C5', 'C6', 'C7', 'T1', 'T2', 'T3', 'T4', 'T5','S1', 'S2', 'S3']
df_norm = pd.DataFrame()
for column in columns:
    df_norm[column] = normalize(df[column])
df_norm.head()

,P(IPO),P(H),P(L),P(1Day),C1,C3,C4,C5,C6,C7,T1,T2,T3,T4,T5,S1,S2,S3
0,-0.046801,-0.044305,-0.047762,-0.012133,-0.013350,0.000353,0.085376,-0.003934,-0.004315,-0.014637,0.002698,-0.000807,0.003735,0.006282,0.001049,-0.020714,-0.003360,-0.006720
1,-0.071191,-0.040601,-0.052524,-0.016119,0.052610,-0.000733,-0.080838,-0.009599,-0.023806,-0.015465,0.201091,0.184145,0.186320,0.203824,0.042886,0.008318,0.131922,0.107632
2,-0.083386,-0.010972,-0.014429,-0.016593,-0.028757,-0.000651,0.052627,-0.015232,-0.017625,-0.016070,-0.163556,-0.152817,-0.150411,-0.157234,-0.034464,-0.023940,-0.094269,-0.098902
3,-0.028508,0.003843,0.004619,-0.011685,0.028537,-0.000580,0.049916,-0.016168,-0.018814,-0.016033,-0.085065,-0.091724,-0.086955,-0.110921,-0.016562,0.037350,-0.066130,-0.040559
4,0.087346,0.040880,0.052238,0.026454,-0.033572,-0.000370,-0.165239,-0.008722,-0.009900,0.004297,0.065739,0.042225,0.040502,0.039363,0.003968,-0.004585,0.031272,0.025952

In [166]:
from sklearn import preprocessing

x = df[columns].values
scaler = preprocessing.MinMaxScaler()
x_scaled = scaler.fit_transform(x)
df_scaled = pd.DataFrame(x_scaled,columns=columns)
df_scaled.head()

,P(IPO),P(H),P(L),P(1Day),C1,C3,C4,C5,C6,C7,T1,T2,T3,T4,T5,S1,S2,S3
0,0.085366,0.070370,0.052381,0.010240,0.053924,0.169794,0.749962,0.017461,0.023948,0.001671,0.208900,0.259275,0.263014,0.284499,0.067231,0.203226,0.104978,0.131855
1,0.060976,0.074074,0.047619,0.006254,0.119884,0.168708,0.583748,0.011795,0.004457,0.000843,0.407293,0.444227,0.445600,0.482042,0.109068,0.232258,0.240260,0.246208
2,0.048780,0.103704,0.085714,0.005780,0.038517,0.168790,0.717213,0.006162,0.010637,0.000238,0.042645,0.107265,0.108869,0.120983,0.031718,0.200000,0.014069,0.039673
3,0.103659,0.118519,0.104762,0.010688,0.095811,0.168861,0.714502,0.005227,0.009448,0.000275,0.121137,0.168359,0.172324,0.167297,0.049621,0.261290,0.042208,0.098016
4,0.219512,0.155556,0.152381,0.048827,0.033702,0.169072,0.499347,0.012673,0.018362,0.020605,0.271941,0.302308,0.299782,0.317580,0.070150,0.219355,0.139610,0.164527

In [165]:
df.head()

,Unnamed: 0,I1,I2,I3,P(IPO),P(H),P(L),P(1Day),C1,C2,...,C3p,C5p,C6p,Pmid,LongSentences,RealWords,LongWords,PositiveWords,NegativeWords,UncertainWords
0,0,AATI,ADVANCED ANALOGIC TECHNOLOGIES INC,3674,10.0,9.5,8.5,11.870000,122.0,1.0,...,1,3.864345,11.111111,9.0,0.640426,0.908876,0.054250,0.004875,0.009199,0.010929
1,1,ABPI,ACCENTIA BIOPHARMACEUTICALS INC,2834,8.0,10.0,8.0,7.250000,259.0,0.0,...,0,12.028832,0.000000,9.0,0.644753,0.898724,0.051395,0.003258,0.011105,0.010876
2,2,ACAD,ACADIA PHARMACEUTICALS INC,2834,7.0,14.0,12.0,6.700000,90.0,1.0,...,0,3.369134,0.000000,13.0,0.636816,0.909350,0.061764,0.011593,0.006271,0.011403
3,3,ACHN,ACHILLION PHARMACEUTICALS INC,2834,11.5,16.0,14.0,12.390000,209.0,1.0,...,0,3.299697,0.000000,15.0,0.539634,0.917060,0.061630,0.009686,0.007144,0.013319
4,4,ACLI,AMERICAN COMMERCIAL LINES INC.,4492,21.0,21.0,19.0,56.599998,80.0,1.0,...,1,3.726269,5.000000,20.0,0.587413,0.888469,0.048550,0.004518,0.010047,0.011261